.header-blog, 
.header-contact {
	height: 50vh;
	// border: 2px solid goldenrod;
	position: relative;

	.landing-title {
		position: absolute;
		bottom: 0;
		color: #f6f6f6; // white
		font-size: 80px;
		line-height: 60px;
		letter-spacing: 1px;
	}
}
 
.header-blog {
	background: url(/assets/blog-image-1.jpg) no-repeat bottom;
}

.header-contact {
	background: url(/assets/contact-image-1.jpg) no-repeat bottom;
}




