

.header-blog {
	height: 50vh;
	background: url(/assets/blog-image-1.jpg) no-repeat center;
	// border: 2px solid goldenrod;
	position: relative;
	


	.landing-title {
			position: absolute;
		bottom: 0;
		color: #f6f6f6; // white
		// color: lightseagreen;
		font-size: 80px;
		// line-height: 92px;
		line-height: 62px;
		letter-spacing: 1px;
	}
}

.aside {
	width: 30%;
	display: flex;
	flex-direction: column;

	&__about {
		padding: 20px;
		background: white;
		margin-bottom: 20px;

		&--link {
			color:#709b6b; // grey green
			font-weight: bolder;
		}
	}

	&__recent-posts {
		padding: 20px;
		background: white;

		&--list {
			font-family: 'Monserrat', sans-serif;
			padding: 0;
			margin: 0;
			font-size: 20px;
			line-height: 32px;
			list-style: none;

			&--item:before {
				content: "\0387";
				padding: 0 10px;
				display: inline;
			
			}

		}
		&--link {
			color: black;

			&:hover  {
				text-decoration: underline;
			}
		}


	}

	

	




}


