.header {
	height: 50vh;
	background: url(../../assets/blog-image-1.jpg) no-repeat center;
	// border: 2px solid goldenrod;
	position: relative;
	


	.landing-title {
			position: absolute;
		bottom: 0;
		color: #f6f6f6; // white
		// color: lightseagreen;
		font-size: 80px;
		// line-height: 92px;
		line-height: 62px;
		letter-spacing: 1px;
	}
	
}