.form {
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
	flex-direction: wrap;
	flex-wrap: wrap;

	&__input {
		flex: 0 1 auto;
		width: calc((100% - 20px) / 2);
		width: 48%;

		// -moz-appearance: none;
		// -webkit-appearance: none;
		// appearance: none;
		border: none;
		margin: 20px 0;
		padding: 20px;
		font-size: 20px;
		line-height: 32px;

		&--textbox {
			border: none;
			width: 100%;
			margin: 20px 0;
			padding: 20px;
			font-size: 20px;
			line-height: 32px;
			resize: none;
		}

		&--button {
			width: 100%;
			text-transform: uppercase;
			text-align: center;
			margin: 20px 0;
			padding: 15px;
		}


	}
}