.wrapper {
	width: 80%;
	margin: 0 auto;
	border: 1px solid blue;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}


h2 {
	font-family: 'Abril Fatface', cursive;
	font-size: 42px;
	letter-spacing: 1px;
	margin: 20px 0;
}

h3 {
	font-family: 'Abril Fatface', cursive;
	font-size: 32px;
	letter-spacing: 1px;
	padding: 20px 0;
}

p {
	padding: 0;
	margin: 0;
	font-family: 'Monserrat', sans-serif;
	font-size: 20px;
	line-height: 32px;
}

.moreLink {
	text-decoration: none;
	background: #e4a436; // golden yellow
	font-family: 'Abril Fatface', cursive;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: 1px;
	color: #1f1f1f;
	text-transform: uppercase;
	display: inline-block;
	margin: 30px 0;
	padding: 10px 20px;
}