.willow-journey {
	background: #f6f6f6;
	
	.wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		align-content: flex-start;
		
	}
	&--photo,
	&--content {
		flex: 0 1 auto;
	}

	&--photo {
		display: block;
		width: 30%;
	}

	&--content {
		margin: 100px 0;
		padding-left: 5%;
		width: 70%;
	}
}