.header-main {
	background: #345231; // pine green
	color: #f6f6f6; // white
	height: 100vh;
	text-transform: uppercase;
	.title-box {
		display: flex;
		flex-direction: flow;
		justify-content: space-between;
		align-items: center;
		align-content: center;

		&__title {
			position: relative;
			border: 1px solid red;
			font-family: 'Abril Fatface', cursive;
			&--main {
				font-size: 140px;
				margin: 0;
				padding-left: 8%;
			}
			.willow {
				position: absolute;
				left: 0;
				top: 0;
				transform: translate(0%, -10%)
			}
		}
		.willow-photo {
			width: 40%;
		}

	}
}

.nav {
	background: #345231; // pine green
	color: #f6f6f6; // white
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	&__ul {
		list-style: none;
		margin: 0;
		padding: 0;
		height: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__li {
		display: inline-block;
		flex: 0 1 auto;
		margin: 0;
		padding: 0 2%;

		&--link {
			text-decoration: none;
			color: #f6f6f6; // white
			font-size: 20px;
			line-height: 29px;
			letter-spacing: 1px;
			font-weight: bold;

			&--active {
				color: #e4a436;
			}

			&:hover {
				border-bottom: 2px solid #e4a436;
			}
		}
		&--span { 
			font-size: 40px;
			font-family: 'Abril Fatface', cursive;
		}
	}

}