/* setup styles */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

body {
  color: #1f1f1f; }

.wrapper {
  width: 80%;
  max-width: 1080px;
  margin: 0 auto; }

h1, h2, h3, h4 {
  font-family: 'Abril Fatface', cursive;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 1px; }

h2 {
  font-size: 42px;
  margin: 10px 0 20px 0; }

h3 {
  font-size: 32px;
  padding: 20px 0; }

h4 {
  font-size: 24px;
  padding: 20px 0; }

p {
  padding: 0;
  margin: 0;
  font-family: 'Monserrat', sans-serif;
  font-size: 20px;
  line-height: 32px; }

img {
  width: 100%; }

a {
  text-decoration: none; }

.moreLink {
  text-decoration: none;
  background: #e4a436;
  font-family: 'Abril Fatface', cursive;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #1f1f1f;
  text-transform: uppercase;
  display: inline-block;
  margin: 30px 0;
  padding: 10px 20px; }

.nav {
  background: #345231;
  color: #f6f6f6;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  position: relative; }
  .nav__ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .nav__li {
    display: inline-block;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin: 0;
    padding: 0 2%; }
    .nav__li--link {
      text-decoration: none;
      color: #f6f6f6;
      font-size: 20px;
      line-height: 29px;
      letter-spacing: 1px;
      font-weight: bold; }
      .nav__li--link--active {
        color: #e4a436; }
      .nav__li--link:hover {
        border-bottom: 2px solid #e4a436; }
    .nav__li--span {
      font-size: 40px;
      font-family: 'Abril Fatface', cursive; }

.nav--secondary {
  display: block;
  margin: 0 10%;
  padding: 0;
  font-size: 40px;
  position: absolute;
  top: 30px;
  right: 0;
  color: #f6f6f6;
  display: none; }
  .nav--secondary:hover {
    color: #e4a436; }

.about {
  background: #F6F6F6;
  padding: 150px 0;
  text-align: center;
  font-family: 'Monserrat', sans-serif; }

.blog .blog-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative; }
  .blog .blog-post--content {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 50%;
    height: 400px;
    padding: 50px; }
    .blog .blog-post--content.favthings {
      padding-right: 10%; }
  .blog .blog-post--photo {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    position: absolute;
    bottom: 30px;
    width: 50%;
    height: 400px;
    background: #345231;
    position: relative; }
    .blog .blog-post--photo.second {
      background: #709b6b;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      height: 400px;
      position: relative;
      bottom: -30px; }
  .blog .blog-post--background {
    margin-left: 10%;
    width: calc(80% - 20px);
    position: absolute;
    right: 20px;
    bottom: 20px; }
    .blog .blog-post--background.second {
      width: calc(90% - 60px);
      margin: 0;
      margin-right: calc(10% + 20px);
      position: absolute;
      top: -20px;
      left: -20px; }
    .blog .blog-post--background--image {
      height: 400px;
      display: block; }
  .blog .blog-post.second {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    text-align: right; }
    .blog .blog-post.second .blog-post--content {
      padding: 50px 5% 50px 10%; }

.willow-journey {
  background: #f6f6f6; }
  .willow-journey .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: start;
    align-content: flex-start; }
  .willow-journey--photo, .willow-journey--content {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto; }
  .willow-journey--photo {
    display: block;
    width: 30%; }
  .willow-journey--content {
    margin: 100px 0;
    padding-left: 5%;
    width: 70%; }

.gallery .breaker {
  width: 100%;
  height: 40vh;
  display: block; }

.gallery--list {
  list-style: none;
  margin: 100px 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .gallery--list li {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 32%; }
    .gallery--list li img {
      display: block;
      width: 100%; }

.footer {
  background: #f6f6f6;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 50px 0; }
  .footer--section {
    width: 50%;
    margin: 0;
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .footer--section .fa-stack {
      display: block;
      font-size: 28px;
      -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      margin: 10px 0 0 0; }
      .footer--section .fa-stack .fa-circle {
        display: block;
        color: #e4a436; }
    .footer--section--content {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      width: 80%; }

.copyright {
  background: #1f1f1f;
  color: #f6f6f6;
  text-align: center;
  padding: 5px; }

.main-blog,
.main-contact {
  background: #f6f6f6; }
  .main-blog .wrapper,
  .main-contact .wrapper {
    padding: 80px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center; }
    .main-blog .wrapper .blogpost,
    .main-blog .wrapper .contact-form,
    .main-contact .wrapper .blogpost,
    .main-contact .wrapper .contact-form {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      width: 65%; }
      .main-blog .wrapper .blogpost__content,
      .main-blog .wrapper .contact-form__content,
      .main-contact .wrapper .blogpost__content,
      .main-contact .wrapper .contact-form__content {
        background: white;
        padding: 20px; }
        .main-blog .wrapper .blogpost__content--author,
        .main-blog .wrapper .contact-form__content--author,
        .main-contact .wrapper .blogpost__content--author,
        .main-contact .wrapper .contact-form__content--author {
          padding: 0 0 10px 0; }
        .main-blog .wrapper .blogpost__content--words,
        .main-blog .wrapper .contact-form__content--words,
        .main-contact .wrapper .blogpost__content--words,
        .main-contact .wrapper .contact-form__content--words {
          border: 1px  blue;
          padding: 10px 0; }
      .main-blog .wrapper .blogpost__comments,
      .main-blog .wrapper .contact-form__comments,
      .main-contact .wrapper .blogpost__comments,
      .main-contact .wrapper .contact-form__comments {
        margin-top: 50px; }
        .main-blog .wrapper .blogpost__comments-box,
        .main-blog .wrapper .contact-form__comments-box,
        .main-contact .wrapper .blogpost__comments-box,
        .main-contact .wrapper .contact-form__comments-box {
          background: white;
          padding: 20px;
          margin: 30px 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: no-wrap;
          flex-wrap: no-wrap;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start; }
        .main-blog .wrapper .blogpost__comments--photo,
        .main-blog .wrapper .contact-form__comments--photo,
        .main-contact .wrapper .blogpost__comments--photo,
        .main-contact .wrapper .contact-form__comments--photo {
          -webkit-box-flex: 0;
          -ms-flex: 0 1 auto;
          flex: 0 1 auto;
          width: 20%; }
        .main-blog .wrapper .blogpost__comments--text,
        .main-blog .wrapper .contact-form__comments--text,
        .main-contact .wrapper .blogpost__comments--text,
        .main-contact .wrapper .contact-form__comments--text {
          -webkit-box-flex: 0;
          -ms-flex: 0 1 auto;
          flex: 0 1 auto;
          margin-left: 20px;
          width: 80%; }
      .main-blog .wrapper .blogpost .border,
      .main-blog .wrapper .contact-form .border,
      .main-contact .wrapper .blogpost .border,
      .main-contact .wrapper .contact-form .border {
        border-bottom: 10px solid #709b6b; }
    .main-blog .wrapper .aside,
    .main-contact .wrapper .aside {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1; }

.header-main {
  background: #345231;
  color: #f6f6f6;
  height: 100vh;
  text-transform: uppercase; }
  .header-main .title-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center; }
    .header-main .title-box__title {
      position: relative;
      margin-bottom: 50px;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      width: 55%;
      font-family: 'Abril Fatface', cursive; }
      .header-main .title-box__title .mobile {
        text-transform: uppercase;
        font-size: 20px;
        text-align: center;
        letter-spacing: 1px;
        font-family: 'Abril Fatface', cursive;
        display: none; }
      .header-main .title-box__title--main {
        font-size: 130px;
        margin: 0;
        margin-left: 6%; }
      .header-main .title-box__title--image {
        position: absolute;
        width: 20%;
        left: 0;
        top: 0;
        -webkit-transform: translate(0%, -10%);
        -ms-transform: translate(0%, -10%);
        transform: translate(0%, -10%); }
    .header-main .title-box .willow-photo {
      -webkit-box-flex: 0;
      -ms-flex: 0 2 auto;
      flex: 0 2 auto;
      display: block;
      -webkit-box-shadow: 20px 20px white;
      box-shadow: 20px 20px white;
      width: calc(45% - 40px);
      max-width: 45%;
      margin: 0 20px 0 0; }

.header-blog,
.header-contact {
  height: 50vh;
  position: relative; }
  .header-blog .landing-title,
  .header-contact .landing-title {
    position: absolute;
    bottom: 0;
    color: #f6f6f6;
    font-size: 80px;
    line-height: 60px;
    letter-spacing: 1px; }

.header-blog {
  background: url(/assets/blog-image-1.jpg) no-repeat bottom; }

.header-contact {
  background: url(/assets/contact-image-1.jpg) no-repeat bottom; }

.aside {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .aside__about {
    padding: 20px;
    background: white;
    margin-bottom: 20px; }
    .aside__about--link {
      color: #709b6b;
      font-weight: bolder; }
      .aside__about--link:hover {
        text-decoration: underline; }
  .aside__recent-posts {
    padding: 20px;
    background: white; }
    .aside__recent-posts--list {
      font-family: 'Monserrat', sans-serif;
      padding: 0;
      margin: 0;
      font-size: 20px;
      line-height: 32px;
      list-style: none; }
      .aside__recent-posts--list--item:before {
        content: "\0387";
        padding: 0 10px;
        display: inline; }
    .aside__recent-posts--link {
      color: black; }
      .aside__recent-posts--link:hover {
        text-decoration: underline; }
  .aside.contact {
    background: white;
    padding: 20px;
    margin: 0;
    height: 280px; }
    .aside.contact .email {
      font-weight: bold; }

.contact-info {
  list-style: none;
  padding: 0; }
  .contact-info--li {
    display: inline-block;
    margin-right: 15px;
    font-size: 40px; }
  .contact-info .icon {
    color: #345231; }
    .contact-info .icon:hover {
      color: #e4a436; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: wrap;
  flex-direction: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .form__input {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: calc((100% - 20px) / 2);
    width: 48%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    margin: 15px 0;
    padding: 20px;
    font-size: 20px;
    line-height: 32px; }
    .form__input--textbox {
      border: none;
      width: 100%;
      margin: 15px 0;
      padding: 20px;
      font-size: 20px;
      line-height: 32px;
      resize: none; }
    .form__input--button {
      width: 100%;
      background: #e4a436;
      border: none;
      text-transform: uppercase;
      text-align: center;
      font-family: 'Abril Fatface', cursive;
      font-size: 20px;
      line-height: 29px;
      letter-spacing: 1px;
      margin: 15px 0;
      padding: 10px; }

@media (max-width: 1320px) {
  .blog-post--content {
    height: auto; } }

@media (max-width: 1210px) {
  .header-main .title-box {
    padding: 20px 0;
    margin: 0 auto; }
    .header-main .title-box__title {
      width: 50%; }
      .header-main .title-box__title--main {
        font-size: 80px;
        text-align: center;
        margin: 0;
        padding: 0; }
      .header-main .title-box__title--image {
        display: none; }
      .header-main .title-box__title .mobile {
        display: block; }
    .header-main .title-box .willow-photo {
      width: 30%;
      margin: 40px; }
  .blog .blog-post {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .blog .blog-post--content {
      width: 80%;
      text-align: center;
      margin: 50px 0 20px 0;
      height: auto;
      padding: 0; }
      .blog .blog-post--content.favthings {
        padding: 0; }
    .blog .blog-post--photo {
      position: static;
      display: block;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      margin: 30px 0;
      background: none;
      width: auto; }
    .blog .blog-post--photo.second {
      background: none;
      margin-top: 20px;
      padding: 0; }
    .blog .blog-post--background, .blog .blog-post--background.second {
      position: static;
      -webkit-box-shadow: 20px 20px  #345231;
      box-shadow: 20px 20px  #345231;
      margin: 50px 0;
      width: 100%; }
      .blog .blog-post--background.--image, .blog .blog-post--background.second.--image {
        width: 100%; }
  .main-blog .wrapper, .main-contact .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .main-blog .wrapper .blogpost,
    .main-blog .wrapper .contact-form, .main-contact .wrapper .blogpost,
    .main-contact .wrapper .contact-form {
      width: 100%;
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1; }
    .main-blog .wrapper .aside, .main-contact .wrapper .aside {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      margin: 50px 0;
      width: 100%;
      text-align: center; }
      .main-blog .wrapper .aside .img, .main-contact .wrapper .aside .img {
        width: 50%; } }

@media (max-width: 850px) {
  .header-main .title-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center; }
  .blog .blog-post--photo {
    position: static;
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin: 30px 0;
    background: none;
    width: 100%; }
  .blog .blog-post--background--image {
    height: 60%; }
  .willow-journey {
    padding: 50px 0; }
    .willow-journey .wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      text-align: center; }
    .willow-journey--photo {
      width: 50%; }
    .willow-journey--content {
      margin: 50px 0;
      padding: 0;
      width: 100%; }
  .gallery .breaker {
    height: 20vh; }
  .gallery--list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 50px 0;
    width: 100%; }
  .gallery--li {
    width: 100%;
    margin: 20px 0; }
    .gallery--li img {
      width: 100%; }
  .footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .footer--section {
    width: 100%; } }

@media (max-width: 700px) {
  .wrapper {
    width: 90%;
    margin: 0 auto; }
  .nav__li--link {
    display: none; }
  .nav--secondary {
    display: block; }
  .header-main .title-box__title {
    width: 100%; }
    .header-main .title-box__title--main {
      font-size: 60px;
      width: 100%; }
  .header-main .title-box .willow-photo {
    width: 70%; }
  .header-blog .landing-title,
  .header-contact .landing-title {
    font-size: 60px;
    line-height: 45px; }
  .blog {
    padding: 50px 0; }
    .blog .blog-post--photo, .blog .blog-post--photo.second {
      background: none;
      width: 100%;
      height: auto;
      padding: 0; }
    .blog .blog-post--background, .blog .blog-post--background.second {
      margin: 0;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .blog .blog-post--background--image {
      height: 50%;
      display: block; }
  .willow-journey {
    margin: 60px 0; }
  .gallery .breaker {
    height: 20vh; }
  .gallery--list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 50px 0;
    width: 100%; }
  .gallery--li {
    width: 100%;
    margin: 20px 0; }
  .form__input {
    width: 100%; }
  .footer--section--content .p {
    display: none; } }

@media (max-width: 430px) {
  .header-blog .landing-title,
  .header-contact .landing-title {
    font-size: 55px;
    line-height: 40px; }
  .blog .blog-post--content.second {
    height: auto; } }
